*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    color: var(--color-white);
}
:root{
    --color-navBar: rgba(33,37,41);
    --color-bg: rgb(19, 27, 34);
    --color-white: rgb(231, 229, 229);
}

body{
    background-color: var(--color-bg);
    font-family: 'Roboto', sans-serif;
}
h5{
    font-weight: 400;
}
.navbar{
    border-bottom: solid 1px var(--color-white);
}


/*Home Page*/
.homePageTitle{
    display: flex;
    justify-content: center;
}
.cryptoCardRow{
    justify-content: space-evenly;
}
.cryptoCardCol{
    width: 430px;
}
.cryptoCard{
    background: linear-gradient(to bottom, #3145b6, #610e53);
    width: auto;
    height: 150px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    position: relative;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    outline: 1px solid var(--color-white);
    outline-offset: -5px;
    overflow: hidden;
}
.cryptoCard:hover{
    box-shadow: 0px 0px 10px var(--color-white);
    transition: 0.3s ease-in-out;
	cursor: pointer;
    transform: scale(1.05) !important;
}
.cryptoCardCol1{
    height: 85%;
}
.cryptoCardNameDiv{
    height: 40px;
}
.cryptoCardName{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: normal;
}
.cryptoCardCol1 .cryptoCardData{
    float: left;
}
.cryptoCardCol1 .cryptoCardDataNum{
    float: right;
}
.cryptoCardCol2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.cryptoCardIcon{
    overflow: hidden;
    padding-right: 30px;
}

/*Global Page*/
.globalStatPageTitle{
    display: flex;
    justify-content: center;
}
.globalStatTitle{
    color: rgb(168, 164, 164);
}
@media screen and (min-width: 1200px){
    .globalStatContainer{
        padding-left: 200px;
    }
}
@media screen and (max-width: 1200px){
    .globalStatContainer{
        padding-left: 100px;
        padding-right: 100px;
    }
    .globalStatTitle{
        float: left;
    }
    .globalStatNum{
        float: right;
    }
}
@media screen and (max-width: 767px){
    .globalStatContainer{
        padding-left: 50px;
        padding-right: 50px;
    }
}
.currentBest3CoinsContainer > .cryptoCardRow > .cryptoCardCol > .cryptoCard{
    background: linear-gradient(to bottom, #69d9e7, #75051c);
}
.currentNewest3CoinsContainer > .cryptoCardRow > .cryptoCardCol > .cryptoCard{
    background: linear-gradient(to bottom, #dbcd04, #195a32);
}
.current3NewestCoinsSection{
    padding-bottom: 100px;
}

/*News Page*/
.newsCardContainer:hover{
    box-shadow: 0px 0px 10px var(--color-white);
    transition: 0.3s ease-in-out;
	cursor: pointer;
    transform: scale(1.05) !important;
}
.newsCardImage{
    height: 15rem;
}
.newsCardTitle{
    font-weight: 500;
    height: 3rem;
}
.newsCardAuthor{
    float: left;
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: normal;
}
.newsCardTitle, .newsCardDescription{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}
.newsCardDescription{
    -webkit-line-clamp: 3;
    height: 4.5rem;
}
.newsCardDescription, .newsCardFooter > span{
    color:rgb(189, 186, 186);
    font-weight: 400;
}